{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
<div class="container">
    <h1>Mon compte</h1>
    
    <p>Bienvenu sur votre espace utilisateur <span class="text-info">{{ app.user.username }}</span></p>

    <hr>
    <ul>
        <li> -- Modifier le mode de passe </li>
        <li>-- Créer une recette</li>
        <li>-- Editer les recettes</li>
        <li>-- voir la liste de recettes</li>
    </ul>
   
    
    
    
    
</div>
{% endblock %}
